.customerApp{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}



.customerWrapper{
  width: 100%;
display: flex;
flex-wrap: wrap;
justify-content: center;

}

.customerBlock{
  border: 3px solid #616161;
  min-width: 400px;
  /* padding: 15px; */
  margin: 15px;
  background-color: #c4e3cb;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}
.plusIdDiv{
  width: 100%;

  display:flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.customerPlus{
  font-size: 30px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 0;
}

.customerId{
  margin-left: 10px;
  margin-top: 10px;
  font-size: 30px;
  margin-bottom: 0;
  
}

.customerSearch{
  border-radius: 15px;
  font-size: 20px;
}