.ticketPageDiv {
width: 80%;
display: flex;
flex-direction: column;
align-items: center;
}

.ticketSection{
width: 100%;
display: flex;
justify-content: center;
flex-wrap: wrap;
}

.ticketBox{  
width: 400px;
padding: 15px;
margin: 15px;
display:flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
background-color: #C4E3CB;
border: 3px solid #616161;
border-radius: 15px;

}

.ticketTop{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 0;

}

.topRight{ 
  font-size: 20px;
}

.topRight > * {

}
.topLeft{
  
}

.ticketDescription{
  width: 100%;
}

.ticketDescriptionDiv{
  width: 100%;
}




.edit{
  font-size: 20px;
  width: 21px;
}


.updateForm{
  display: flex;
  flex-direction: column;
}


.critical{
  background-color: #f68787;
}

.semi-critical{
  background-color: #f8a978;
}

