.ticketPageDiv {
width: 80%;
display: flex;
flex-direction: column;
align-items: center;
}

.ticketSection{
width: 100%;
display: flex;
justify-content: center;
flex-wrap: wrap;
}

.ticketBox{  
width: 400px;
padding: 15px;
margin: 15px;
display:flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
background-color: #C4E3CB;
border: 3px solid #616161;
border-radius: 15px;

}

.ticketTop{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 0;

}

.topRight{ 
  font-size: 20px;
}

.topRight > * {

}
.topLeft{
  
}

.ticketDescription{
  width: 100%;
}

.ticketDescriptionDiv{
  width: 100%;
}




.edit{
  font-size: 20px;
  width: 21px;
}


.updateForm{
  display: flex;
  flex-direction: column;
}


.critical{
  background-color: #f68787;
}

.semi-critical{
  background-color: #f8a978;
}

.filterListDiv{
  display: flex;
  justify-content: space-between;
  width: 80%;
  flex-wrap: wrap;
}
.filterOptions{
  display: flex;
  justify-content:center;
  
}

.filterOptions > button{
border-radius: 15px;
font-size: 15px;
  
}



.filterSearch{
  display: flex;
}

.filterSearch > form > *{
  border-radius: 15px;

}

.filterSearch > form > input{
  width: 80px;
  font-size: 20px;
  
}
.filterSearch > form > button{
  width: 80px;
  font-size: 15px;
  background-color: #C4E3CB;
  
}

.allButton{
  background-color: #A9A9A9;
}

.criticalButton{
  background-color: #F68787;
}
.semiButton{
  background-color: #F8A978;
}
.taskButton{
  background-color: #C4E3CB;
}

.TicketListHeader{
  display:flex;
 
  justify-content: flex-end;
  align-items: center;
  width: 80%;
}
.TicketListHeader h1{
  justify-self: center;
}


.TicketListHeaderDiv{
  align-items: flex-end;
}
.ticketButton{
  width: 80px;
  margin-right: 10px;
}



