.header{
  height: 15vh;
  background-color: #8aae92;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
   
}

.headerTitle{
color: #c4e3cb;
font-size: 4rem;
margin-left: 50px;
font-family: 'Passion One', cursive;
font-weight: 200;
margin-top: 0;
margin-bottom: 0;

}

.frog{
  font-size: 100px;
  color: #c4e3cb;
  margin-left: 50px;
}