.statusDiv{
  display: flex;
  width: 400px;
  justify-content: space-evenly;
  align-items: flex-end;
}


.allTickets{
 height: 80px;
 width: 80px;
 background-color: darkgrey;
 border-radius: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 30px;
}

.criticalTickets{
  background-color: #F68787;
}

.semiTickets{
  background-color: #F8A978;
}

.tasks{
  background-color: #C4E3CB;

}

.smallDot{
  height: 50px;
  width: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.statusTicketDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
