.App {
  text-align: center;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Rajdhani', sans-serif;
  width: 100vw;
  background-color: #f4f9f4;
  color: #616161;
  min-height: 100vh;
}

.navBar{
  height: 5vh;
  width: 100vw;
  background-color: #616161;
  display: flex;
  justify-content: flex-start;
  
}

.navButton{
  padding: 0 30px;
  background-color: #616161;
  border: none;
}

.navButton:first-child{
  margin-left: 50px;
}
