.body{
  margin: 0;
  padding: 0;
}
.App {

  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Rajdhani', sans-serif;
  width: 100vw;
  background-color: #f4f9f4;
  color: #616161;
  min-height: 100vh;
  
}


.navBar{
  height:80px;
  margin: 0;
  padding: 0;
  width: 100vw;
  background-color: #616161;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
  
}

.navButton{
  height:80px;
  padding: 0;
  margin: 0 ;
  width: 160px;
  background-color: #616161;
  height: 90%;
  border: none;
  font-size: 20px;

}
.navButton:active{
  background-color: white;
}

.navButton:first-child{
  margin-left: 50px;
}

i, button:hover{
cursor: pointer;
}

.pageHeader{
  font-size: 50px;
}

.activeNav{
  background-color: rgb(179, 180, 177);
}
