.body{
  margin: 0;
  padding: 0;
}
.App {
  
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Rajdhani', sans-serif;
  width: 100vw;
  background-color: #f4f9f4;
  color: #616161;
  min-height: 100vh;
}

.navBar{
  height:6vh;
  width: 100vw;
  background-color: #616161;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
  
}

.navButton{
  height:6vh;
  background-color: #616161;
  height: 70%;
  border: none;
  font-size: 20px;
}
.navButton:active{
  background-color: white;
}

.navButton:first-child{
  margin-left: 50px;
}

i, button:hover{
cursor: pointer;
}

.pageHeader{
  font-size: 50px;
}
